* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid black;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    margin: 0;
    padding: 0.5em 0;
    border-right: 1px solid black;
}

header ul li a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: #555;
}

header ul li a:hover {
    background: #ddd;
}

header ul li a.active {
    background: #ddf;
}

svg {
    width: 100%;
    height: 100%;
}